.spacer {
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clear: both;
}



body {
  padding: 0;
  color: #555555;
}
#page-wrapper,
.region-page-closure {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

#page {
  padding: 0 10px;
}

.sidebar-second #content {
    margin-left: 0;
    margin-right: -620px;
    width: 620px;
}

#content-area, #content-area .view {
 padding-top: 10px;
}

#content p {
  line-height: 1.5em;
  margin-top: 0.3em;
}

.region-sidebar-second {
  float: left; /* LTR */
  width: 300px;
  margin-left: 620px; /* LTR */ /* Width of content + sidebar-first. */
  margin-right: -960px; /* LTR */ /* Negative value of .region-sidebar-second's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
}

p.highlight {
  background-color: #fffacd;
  padding: 10px;
  border: 1px solid #cccccc;
}


.region-sidebar-second .section {
    margin: 0;
    padding: 0 0 0 20px;
}

.front .region-sidebar-second .block {
  margin: 0;
}

.region-sidebar-second .block ul {
  margin: 0; 
  padding: 0;
}

.region-sidebar-second .block ul li {
    list-style: none outside none;
    padding: 2px 0;
}

.with-navigation #content, .with-navigation .region-sidebar-first, .with-navigation .region-sidebar-second {
    margin-top: 3.7em;
}


.front .region-content-bottom .region-count-1 {
  width: 300px;
  float: left;
  margin-right: 20px;
}



.front .front-content-bottom-1 .region-front-content-bottom-1 .view-superintendent-message {
  padding-top: 7px;
}

.front .front-content-bottom-1 .region-front-content-bottom-1 .view-superintendent-message img {
  float: left;
  margin-right: 5px;
}

.front .front-content-bottom-1 .region-front-content-bottom-1 .view-superintendent-message .views-field-teaser p {
  font-size: 0.923em;
}

.front .front-content-bottom-1 .region-front-content-bottom-1 .view-superintendent-message .views-field-title {
  font-weight: bold;
}



.front .region-content-bottom .region-count-2 {
  width: 300px;
  float: right;
}


.front .section .front-content-bottom-1 {
  float: left;
  width: 300px;
}


.front .section .front-content-bottom-2 {
  float: right;
  width: 300px;
}


.front .section .front-content-bottom-2 #block-views-events-block_1 span.date-display-single {
    font-size: 0.923em;
}

/** HTML Elements **/

  h1.title {
    color: #005696;
    font-weight: normal;
  }

  h2.title, h3.title {
    color: #A29061;
    font-weight: normal;
  }

  h2 {
    font-size: 1.2em;
    margin-bottom: 0.3em;
  }
  
  #content h2 {
    font-size: 1.5em;
  }
  

  h3 {
    font-size: 1.3em;
    margin: 10px 0 5px;
  }
  
  h3.title {
    margin: 1.5em 0 .5em;
  }
  
  h4 {
    margin-top: 1em;
    margin-bottom: 0.3em; 
  }

  .front .region-content-bottom h2.title {
    border-bottom: 1px solid #a29061;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  a:link, a:visited {
    color: #57a6e0;
    text-decoration: none;
  }
  
  a.active, li a.active {
    color: #666666;
  }


  .more-link a, .link a, .views-field-view-node .field-content a {
    text-transform: uppercase;
    font-size: 11px;
  }
  
  .item-list ul {
    padding: 0;
    margin-top: 0;
  }
  
  .item-list ul li {
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
  }
  

/** comments **/

  #comments {
    padding: 1em;
    border: 1px solid #cccccc;
  }



/** Header **/

  #header {
    background: url("../img/header_bkg_2.png") repeat-x scroll 0 0 #005696;
  }

  #logo img {
    margin: 10px 0 0 10px;
  }

  #name-and-slogan {
    margin-left: 120px;
  }


/** Search Box **/

  #search-box {
    float: right;
    width: 250px;
    padding-top: 6px;    
  }

  #edit-search-theme-form-1.form-text {
    width: 150px;
  }


/** Filefields attached to node **/

.field-field-document-file .field-items .field-item {
  padding: 5px;
}
.field-field-document-file .field-items .odd {
  background: #EAEBE7;
}
.field-field-document-file .field-items .even {
  background: #F6F6F4;
}


/** Superintendent **/

  .section-superintendent #content-area .content img {
    float: left;
    margin: 0 10px 10px 0;
  }


  
  
  
  /** Navigation Using Primary Links Block and drop-down menus **/

   #navigation {
    background: url(../img/nav_bkg.png) scroll 0 0 repeat-x #acacac;
    height: auto;
    overflow: visible;
    font-size: .875em;
  }
  
  #navigation .block {
    margin: 0;
    padding: 0;
  }
  
  #block-menu-primary-links ul {
    z-index: 998;
  }

/* remove any previously set margins and paddings */
  #block-menu-primary-links { 
    margin: 0; 
    padding: 0;
    z-index: 998;
    float: ;
    }

/* set width/height on <li>, <a>, <li><ul> */
  
  #block-menu-primary-links a { 
    color: #ffffff;
    text-decoration: none;
    padding: 10px 25px;
    display: block;
    text-transform: uppercase; 
  } 

/* remove <li> list styling off */
  #block-menu-primary-links li { 
    list-style: none; 
    
    }

/* set <li> position */
  #block-menu-primary-links li { 
    float: left; 
    position: relative; 
    padding: 0;
    }
    
  #block-menu-primary-links li a:hover {
    color: #ffffff;
    background-color: #b8b8b8;
  }
  
  #block-menu-primary-links li a.active:hover, #block-menu-primary-links li.active-trail a:hover {
    color: #ffffff;
  }

/* set position of <ul> in <li> */
  #block-menu-primary-links li ul { 
    top: 38px; 
    left: 0px; 
    position: absolute; 
    display: none; 
    }

/* position child <ul> */
  #block-menu-primary-links li ul ul { 
  margin: -25px 0 0 125px; 
  }

  #block-menu-primary-links li.expanded a {
    background: url(../img/arrow-down-grey.png) scroll 170px 15px no-repeat transparent;
    margin-right: 5px;
  }
 
  #block-menu-primary-links li.expanded a:hover {
    background: url(../img/arrow-down-grey.png) scroll 170px 15px no-repeat #b8b8b8;
  }

  
  #block-menu-primary-links ul li.expanded ul li a, #navigation ul li.expanded ul li a:visited {
    background: url() scroll 0 0 repeat-x #acacac;
    border-bottom: 1px solid #bababa;
    width: 175px;
    font-size: .8em;
    padding: 12px;
  }
  
  #block-menu-primary-links ul li.expanded ul li.leaf.first a {
    border-top: 1px solid #bababa;
  }
  
  #block-menu-primary-links ul li.expanded ul li a:hover {
    background: #b8b8b8;
  }
  


  
  
  
  

/** Footer **/

  #footer {
    border-top: 1px solid #cccccc;
    margin: 10px 0 0 0;
    padding: 14px 0 0 0;
  }
  
  #footer .section .content {
    line-height: 1em;
  }
  
  #footer .section #block-block-3 {
    width:360px;
    float: right;
  }
  
  #footer .section #block-block-3 #fcoe-logo {
    float: right;
    margin-left: 20px;
  }
  
  #footer .section #block-block-3 #fcoe-info {
     text-align: right;
     font-size: .75em;
   }
  
  #footer .section #block-block-3 #fcoe-name {
    text-transform: uppercase;
    font-size: 1.2em;
  }
  #footer .section #block-block-3 #llp {
    font-size: 1.2em;
  }
  
/** Global Footer **/
  #global-footer {
    position: relative;
    clear: both;
    margin: 10px 0 0 0;
  }
  #global-footer .container {
    height: 120px;
    border-top: 1px solid #cccccc;
  }
  #global-footer #bottom-logo img {
    float: left;
    width: 100px;
    margin: 15px 10px 10px 10px;
  }
  #global-footer #bottom-text {
    font-size: .85em;
    padding: 1px 0 0 0;
  } 
  #global-footer #bottom-text .title {
    padding-top: 8px;
  }
  #global-footer #bottom-text .title a {
    font-size: 1.2em;
    text-transform: uppercase;
  }

 

/** Footer Super Menu **/

  #footer .section #block-block-18.block {
    margin-bottom: auto;
  }
  
  #footer .section #block-block-18 .footer-block {
    float: left;
    width: ;
    padding: 0 90px 10px 0;
    font-size: 10px;
    line-height: 17px;
  }
  
  #footer .section #block-block-18 .employeelinks {
    padding-right: 0;
  }
  
  #footer .section #block-block-18 h4 {
    font-size: 12px;
    padding-top: 0;
    margin: 4px 0;
  }
  
  #footer .section #block-block-18 ul {
    margin: 0;
    padding: 0;
  }
  
  #footer .section #block-block-18 ul li {
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #footer .section #block-block-18 dl {
    margin: 0;
    padding: 0;
  }
  
  #footer .section #block-block-18 dl dt {
    
  }
  
  #footer .section #block-block-18 dl dd {
    margin: 0;
    padding: 0;
  }
  
  #footer .section #block-block-18 .fcoeaddress {
    line-height: 14px;
  }
  
  #supermenu {
    clear: both;
  }
  
  #footer .section #supermenu .block {
    margin-bottom: auto;
  }
  
  #footer .section #supermenu .footer-block {
    float: left;
    padding: 0 40px 10px 0;
    font-size: 1em;
    line-height: 1.4em;
  }
  
  #footer .section #supermenu .footer-block.last {
    padding-right: 0;
  }
  
  #footer .section #supermenu .employeelinks {
    padding-right: 0;
  }
  
  #footer .section #supermenu h4 {
    padding-top: 0;
    margin: 4px 0;
    font-size: 1em;
  }
  
  #footer .section #supermenu ul {
    margin: 0;
    padding: 0 0 1em;
    border-bottom: none;
  }
  
  #footer .section #supermenu ul li {
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #footer .section #supermenu dl {
    margin: 0;
    padding: 0;
  }
  
  #footer .section #supermenu dl dt {
    
  }
  
  #footer .section #supermenu dl dd {
    margin: 0;
    padding: 0;
  }
  
  #footer .section #supermenu .fcoeaddress {
    line-height: 14px;
  }

  .youtube {
    margin: 5px 5px 0 0;
  }

/** YouTube Education Matters Page listing **/

.page-educationmatters .view-fcoe-youtube .views-row {
	float: left;
  width: 275px;
  height: 225px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.page-educationmatters .view-fcoe-youtube .views-row img {
	width: 275px;
}

  
/** Front Content Bottom 2 **/
  .front .front-content-bottom-2 .view-content ul li {
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 5px;
    padding: 2px 0 5px;
    border-bottom: 1px dashed #cccccc;
    font-size: 0.923em;
    width: 300px;
  }
  
  .front .front-content-bottom-2 .view-content .item-list ul li.views-row-last {
    border-bottom: none;
    padding-bottom: 0px;
  }
  
  

/** Front Content Bottom Lower **/
  .front .front-content-bottom-lower {
  	margin-top: 10px;
  }

  .front .view-id-fcoe_youtube.view-display-id-block_2 .view-content {
  	float: left;
  }

  .front .view-id-fcoe_youtube.view-display-id-block_2 .view-footer {
  	padding: 10px 0;
  	text-align: right;;
  }

  .front .view-id-fcoe_youtube.view-display-id-block_2 .view-content .views-row {
  	float: left;
  	width: 190px;
  	margin-right: 20px;
  }
  
  .front .view-id-fcoe_youtube.view-display-id-block_2 .view-content .views-row-last {
  	margin-right: 0;
  }

  .front .view-id-fcoe_youtube.view-display-id-block_2 .view-content .views-row img {
  	border: 1px solid #cccccc;
  }

  .front .view-id-fcoe_youtube.view-display-id-block_2 .view-content .views-field-title {
  }

  .front .view-id-fcoe_youtube.view-display-id-block_2 .view-footer {
  	clear: left;
  }
  
/** Front Upcoming Events Block **/
  
  .front #block-views-events-block_1.block {
    float: left;
    display: block;
  }
  
  .front #block-views-events-block_1.block .content .item-list ul {
    margin: 0;
    padding: 0;
    float: left;
  }
  
  #block-views-events-block_1 .workshop-title {
    padding-top: 3px;
  }
  
  #block-views-events-block_1 .workshop-title .title a {
    text-decoration: none;
    font-weight: normal;
  }
  
  #block-views-events-block_1 .upcoming-date {
    float: left;
    padding: 0;
    margin-right: 10px;
    border: 2px solid #cccccc;
    width: 45px;
    background-color: #ffffff;
    color: #005696;
    text-align: center;
  }
  
  #block-views-events-block_1 .upcoming-date .month {
    font-size: .75em;
    line-height: 1em;
    display: block;
    color: #ffffff;
    background: #005696;
    padding: 3px 0;
  }
  
  #block-views-events-block_1 .upcoming-date .day {
    font-size: 1.5em;
    line-height: 1em;
    display: block;
    padding: 2px 0;
  }

/** Front Recent News Block **/

  .front .front-content-bottom-2 #block-views-news-block_3 {
    float: left;
    display: block;
  }
  
  .front .front-content-bottom-2 #block-views-news-block_3 ul {
    margin: 0;
    padding: 0;
  }
  
  .front .front-content-bottom-2 #block-views-news-block_3 ul li .views-field-view-node {
    text-align: right;
  }
 
  
/** Front Page Second Sidebar Blocks **/
  
  .front .region-sidebar-second .block {
    clear: left;
    float: left;
    display: block;
    border-bottom: 1px solid #A29061;
    padding-bottom: 10px;
    margin-bottom: 9px;
    width: 300px;
  }

  .front .region-sidebar-second .block-no-bottom-border {
    border-bottom: none;
  }
  
  .front .region-sidebar-second .block.region-count-1 .img img, .front .region-sidebar-second .block.region-count-2 .img img, .front .region-sidebar-second .block.region-count-3 .img img {
    width: 80px;
    border: 1px solid #cccccc;
    padding: 1px;
    margin: 0 10px 0 0;
  }
  
  
/********************** SPECIAL BLOCKS ******************/

  .region-sidebar-second #block-block-9.block {
    width: 298px;
    border: 1px solid #A29061;
    padding: 0;
    margin: 10px 0 15px;
  }
  
  .region-sidebar-second #block-block-9.block #fcoe_foundation h2 {
    text-transform: uppercase;
    text-align: center;
    background-color: #1c6fac;
    padding: 2px 0;
    color: #ffffff;
    margin: 0;
  }
  
  .region-sidebar-second #block-block-9.block #fcoe_foundation .img a {
    padding: 5px 30px;
    display: block;
  }
  
  .region-sidebar-second #block-block-10.block .content img {
    float: left;
  }
  
  
  .region-sidebar-second #block-block-10.block {
    width: 298px;
    border: 1px solid #A29061;
    padding: 0;
  }
  
  .region-sidebar-second #block-block-10.block .text {
    font-size: 1.1em;
    padding-top: 10px;
  }
  
  .region-sidebar-second #block-block-11.block .content img {
    float: left;
    margin-right: 10px;
  }
  
  .region-sidebar-second #block-block-11.block {
    width: 298px;
    padding: 0;
  }
  
  .region-sidebar-second #block-block-11.block .content p {
    padding: 0;
    margin: 0 0 10px;
  }
  
  .region-sidebar-second #block-block-12.block {
    width: 298px;
    border: 1px solid #A29061;
    padding: ;
    margin: 10px 0 15px;
  }
  
  
  .region-sidebar-second #block-block-12.block h2 {
    text-transform: uppercase;
    text-align: center;
    background-color: #1c6fac;
    padding: 2px 0;
    color: #ffffff;
    margin: 0;
  }

  
  .region-sidebar-second #block-block-12.block .text {
    font-size: 1em;
    padding: 3px 0;
  }
  
  .region-sidebar-second #block-block-12.block .text img {
    float: left;
    margin-right: 5px;
    margin-left: 3px;
    width: 70px;
  }
  
  
  .region-sidebar-second #block-block-15.block {
    width: 298px;
    border: 1px solid #A29061;
    padding: 0;
  }
  
  .region-sidebar-second .block #common-core-block .inner {
    padding: 5px;
  }
  
  .region-sidebar-second .block #common-core-block .title {
    font-size: 1.3em;
    color: #8DC63F;
    padding-top: 9px;
  }
  
  .region-sidebar-second .block #common-core-block .subtitle {
    color: #E36F1E;
  }
  
  .region-sidebar-second .block #common-core-block .img img {
    margin-right: 10px;
  }


/** LCAP **/
  .img-lcap-checkbox {
    float: left;
    margin-right: 10px;
  }
  
  p.lcap-info {
    padding-left: 5px;
    margin-top: .5em;
  }
  
  .region-sidebar-second #block-block-22.block {
    width: 298px;
    border: none;
    padding: 0;
  }

/** Trustees Association block **/
  .img-trustees {
    float: left;
    margin-right: 10px;
  }
  
  p.trustees-info {
    padding-left: 5px;
    margin-top: .5em;
  }
  
  .region-sidebar-second #block-block-23.block {
    border: none;
    padding: 0;
  }
  
  .region-sidebar-second #block-block-23 .inner-block {
    padding: 10px;
  }


  

/********************** END of SPECIAL BLOCKS ******************/

  .region-sidebar-second .block {
    clear: left;
    float: left;
    display: block;
    padding-bottom: 10px;
    width: 300px;
  }
  
  .region-sidebar-second .block h2.title {
    margin: 0;
    padding: 0;
  }
  
  .region-sidebar-second .block .text {
    font-size: 0.923em;
  }
  .region-sidebar-second .block .img {
    float: left;
  }
  
  .region-sidebar-second .content .inner-block {
    border: 1px solid #A29061;
    padding: 5px;
  }
  



  
/** Front Rotating Banner **/

  #views_slideshow_singleframe_teaser_section_rotating_banner-block_1 {
    position: relative;
  }
  
  div.views-field-field-spotlight-banner-image-fid img {
    border: 1px solid #cccccc;
  }
  
  div.views-field-field-spotlight-teaser-value {
  }

  #transparency {
    position: absolute;
    top: 202px;
    left: 1px;
    width: 616px;
    height: 80px;
    background-color: #000;
    filter: alpha(opacity=70);
    opacity: 0.7;
    -moz-opacity: 0.7;
  }
  
  img.imagecache-banner_large {
    border: 2px solid #cccccc;
  }
  
  #spotlightcontent {
    position: absolute;
    top: 200px;
    color: #f3f3f3;
    font-size: .8em;
    padding: 5px 7px;
    line-height: 1.4em;
  }
  
  #spotlightcontent h2 {
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: normal;
  }
  
   #spotlightcontent h2 a {
    font-size: .9em;
    font-weight: normal;
  }
  
  #spotlightlink {
    margin-top: 3px;
  }
  
  #spotlightlink a {
    font-size: 12px;
    text-transform: uppercase;
  }
  
  
  
  
/** Node type Spotlight Story **/

  .node-type-spotlight-story .node .content .field-field-spotlight-banner-image img {
    padding: 1px;
    margin: 0 0 5px 5px;
    border: 1px solid #cccccc;
  }
  
   
  
/** Office of the Superintendent **/

  .page-office-superintendent .content img {
    float: left;
    margin: 0 10px 10px 0;
  }
  
  
  
/** Departments Page **/

  .page-departments .section h2 {
    margin: 10px 0 5px;
  }
  
  .page-departments .section ul {
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 3px 0 12px;
    border-bottom: 1px solid #cccccc;
  }
  
  .page-departments .section ul.last {
    border-bottom: 0px;
  }
  
/** Locations Page **/

  .page-locations #content .view-locations .item-list ul {
    padding: 0;
  }

  .page-locations #content .view-locations .item-list ul li {
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    border-bottom: 1px solid #cccccc;
    padding: 5px 0;
    width: 618px;
    height: 130px;
    margin: 0 20px 20px 0;
    clear: left;
  }
  
  .page-locations #content .view-locations .item-list ul li.views-row-even {
  }
  
  .page-locations #content .view-locations .item-list ul li.views-row-first {
    background: #F9F8F7;
    border: 1px solid #cccccc;
  }
  
  .page-locations #content .view-locations .item-list ul li.views-row-last {
    border-bottom: none;
  }
  
  .page-locations #content .view-locations .item-list ul li .views-field-title {
    padding: 0 0 5px 10px;
  }
  
  .page-locations #content .view-locations .item-list ul li .views-field-title .field-content a {
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
  }
  
  .page-locations #content .view-locations .item-list ul li .views-field-address .field-content {
    margin-left: 10px;
  }
  
  .page-locations #content .view-locations .item-list ul li .views-field-view-node .field-content {
    margin-left: 10px;
  }

/*** Location Page using Unformatted Divs **/

  .page-locations #content .view-locations .view-content .views-row {
    margin: 20px 0;
    padding: 5px 0;
    border-bottom: 1px solid #cccccc;
  }




  
/** Department Staff Listings **/

  .section-departments #content-area .view-employee-listing .views-row {
    margin-bottom: 15px;
    width: 310px;
    float: left;
  }
  
  .section-departments #content-area .view-employee-listing .views-row .views-field-title .field-content {
    font-weight: bold;
  }
  
  .section-departments #content-area .view-employee-listing h3 {
    border-top: 1px solid #E3E3E3;
    clear: both;
    color: #A29061;
    margin: 20px 0 3px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  
  .section-departments #content-area .view-employee-listing .views-row-last {
    padding-bottom: 7px;
  }
  
  .section-departments .view-employee-listing .views-row .views-field-field-employee-image-fid {
  float: left;
  margin-right: 10px;
}

  .section-departments .view-employee-listing .views-row .views-field-field-employee-image-fid img {
  border: 1px solid #cccccc;
  padding: 2px;
}
  
  
/** Credentials Staff Listing **/
  .page-departments-credentials-contact #content-area .view-credentials-contact .views-row {
    margin-bottom: 15px;
    width: 310px;
    float: left;
  }
  
  .page-departments-credentials-contact #content-area .view-credentials-contact .views-row .views-field-title .field-content {
    font-weight: bold;
  }
  
  .page-departments-credentials-contact #content-area .view-credentials-contact h3 {
    border-top: 1px solid #E3E3E3;
    clear: both;
    color: #A29061;
    margin: 20px 0 3px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  
  .page-departments-credentials-contact #content-area .view-credentials-contact .views-row-last {
    padding-bottom: 7px;
  }
  
/** Credentials Menu styling **/

  #block-menu-menu-credentials {
    padding-bottom: 12px;
  }
  
  
  
  
  
/** Locations Node Page  **/
  .node-type-location .node-inner {
    float: left;
    padding-bottom: 20px;
    padding-top: 10px;
    width: 100%;
  }
  
  .node-type-location .node-inner .content {
    float: left;
    width: 280px;
  }
  
  .node-type-location .location-locations-wrapper {
  }
  
  .node-type-location .node-inner .location-map {
    float: right;
    margin-right: 25px;
    background: none repeat scroll 0 0 #F9F8F7;
    border: 1px solid #cccccc;
    padding: 5px;
  }
  
  .node-type-location #content-area .item-list ul li {
    float: left;
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    list-style-position: outside;
    width: 450px;
    margin-bottom: 30px;
  }
  
  .node-type-location.sidebar-right #content-area .content {
    width: 400px;
  }
  
  .node-type-location .field-field-location-directions {
    margin: 20px 0 0 0;
    padding: 0 10px 0 0;
    font-size: .9em;
  }


/** District Node Pages  **/

  .section-districts .node-inner {
    float: left;
    padding-bottom: 20px;
    width: 100%;
  }
  
  .section-districts .node-inner .content {
    float: ;
  }
  
  .section-districts .node-inner .district-map {
    float: left;
    margin-top: 10px;
    margin-right: 25px;
    background: none repeat scroll 0 0 #F9F8F7;
    border: 1px solid #cccccc;
    padding: 5px;
  }
  
  .section-districts .node-inner .views-field-field-admin-title-value {
    font-size: 11px;
    font-weight: bold;
  }
  
  .section-districts .node-inner .views-field-field-admin-email-email {
    font-size: 11px;
  }
  
  /** District Listing Page **/

  .section-districts #content-area .item-list ul {
    margin: 0;
    padding: 0;
  }
  
  .section-districts #content-area .item-list ul li {
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    border: 1px solid #cccccc;
    padding: 5px 0;
    float: left;
    width: 298px;
    height: 250px;
    margin: 0 20px 20px 0;
  }
  
  .section-districts #content-area .item-list ul li.views-row-even {
    margin-right: 0px;
  }
  
  .section-districts #content-area .item-list ul li .views-field-title {
    font-size: 1.3em;
    line-height: 1.3em;
  }
  
  .section-districts #content-area .item-list ul li .views-field-title,
  .section-districts #content-area .item-list ul li .views-field-title-1,
  .section-districts #content-area .item-list ul li .views-field-address, 
  .section-districts #content-area .item-list ul li .views-field-field-district-website-url, 
  .section-districts #content-area .item-list ul li .views-field-field-district-admins-view-vname, 
  .section-districts #content-area .item-list ul li .views-field-edit-node,
  .section-districts #content-area .item-list ul li .views-field-field-district-lcap-document-fid {
    margin-left: 10px;
  }
  
  .section-districts #content-area .item-list ul li .views-field-field-district-lcap-document-fid {
    margin-top: 10px;
  }
  

  
  .section-districts #content-area .item-list ul li .views-field-field-district-admins-view-vname .view-id-district_administrators {
    padding: 5px 0;
  }
  
  .section-districts #content-area .item-list ul li .views-field-field-admin-title-value {
    font-size: 11px;
    font-weight: bold;
  }
  
  .section-districts #content-area .item-list ul li .views-field-field-admin-email-email {
    font-size: 11px;
  }
  


  .page-districts-charter-schools #content-area .view-districts h3 {
    clear: left;
  }
  
  .page-districts-charter-schools #content-area .view-districts ul li {
    height: 170px;
  }
  
  
  
  
/******************* District Admins Lists - NEW ***********************/ 
  
  .page-districts-list #content-area .item-list ul {
    margin: 0;
    padding: 0;
  }
  
  .page-districts-list #content-area .item-list ul li {
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    border: 1px solid #cccccc;
    padding: 5px 0;
    float: left;
    width: 298px;
    height: 125px;
    margin: 0 20px 20px 0;
  }
  
  .page-districts-list #content-area .item-list ul li.views-row-even {
    margin-right: 0px;
  }
  
  .page-districts-list #content-area .item-list ul li .views-field-title, .section-districts-list #content-area .item-list ul li .views-field-address, .section-districts-list #content-area .item-list ul li .views-field-field-district-website-url {
    margin-left: 10px;
  }
  
  
/******************* END of District Lists - NEW ***********************/
  
  
  
  
/** District Nodes **/

  .node-type-district #content-area .field-field-district-admins-view {
    margin: 5px 0;
  }
  
  .node-type-district #content-area .field-field-district-admins-view .view {
    padding: 0;
  }

 
/** FCCSDO **/

  .section-departments #content-area table {
    width: 90%;
    border: 1px solid #cccccc;
  }
  .section-departments #content-area table td {
    width: 33%;
    border: 1px solid #cccccc;
  }
  .section-departments #content-area table th {
    border: 1px solid #cccccc;
  }

  
  
/** District Superintendents **/

  .page-districts-superintendents #content-area .view-content table {
    font-size: 11px;
    width: 100%;
  }
  
  
/** Title III Court and DJJ **/

  .page-departments-title-iii-court-djj-training-contacts .view-content table {
    font-size: 11px;
    width: 98%;
  }
  
  .page-departments-title-iii-court-djj-training-contacts .view-content table td.views-field-view-node {
    width: 90px;
    padding-right: 5px;
    text-align: right;
  }
  
  .page-departments-title-iii-court-djj-training-contacts .view-content table td.views-field-view-node a {
    text-transform: uppercase;
    font-size: 10px;
  }  
  
  
  .page-departments-title-iii-court-djj-training-contacts #content-area .item-list ul li {
    border: 1px solid #CCCCCC;
    float: left;
    height: 145px;
    list-style: none outside none;
    margin: 0 20px 20px 0;
    padding: 5px 0;
    width: 298px;
  }
  
  .page-departments-title-iii-court-djj-training-contacts #content-area .item-list ul li.views-row-even {
    margin-right: 0;
  }
  
  .page-departments-title-iii-court-djj-training-contacts #content-area .item-list ul li .views-field-title {
    font-size: 1em;
    font-weight: bold;
  }
  
  .page-departments-title-iii-court-djj-training-contacts #content-area .item-list ul li .views-field-title, 
  .page-departments-title-iii-court-djj-training-contacts #content-area .item-list ul li .views-field-field-district-county-value, 
  .page-departments-title-iii-court-djj-training-contacts #content-area .item-list ul li .views-field-field-district-administrator-value, 
  .page-departments-title-iii-court-djj-training-contacts #content-area .item-list ul li .views-field-field-district-admin-title-value,
  .page-departments-title-iii-court-djj-training-contacts #content-area .item-list ul li .views-field-field-district-contact-email-email,
  .page-departments-title-iii-court-djj-training-contacts #content-area .item-list ul li .views-field-view-node,
  .page-departments-title-iii-court-djj-training-contacts #content-area .item-list ul li .views-field-phone
  {
    margin-left: 10px;
}

/** News **/

  .page-news #content-area .view-content .views-row {
    border-bottom: 1px solid #A29061;
    margin-bottom: 10px;
    padding: 5px 0 10px 0;
  }
  
  .page-news #content-area .view-news .view-content .views-field-title {
    font-size: 1.2em;
  }
  
  .page-news #content-area .view-news .view-content .views-field-teaser {
    padding: 5px 0;
  }
  
  .page-news #content-area .view-content .views-row-last {
    border-bottom: 0px;
  }
  
  .page-news #content-area .view-content .views-row p {
    margin: 0;
  }
  
  .section-news .region-sidebar-second .block ul {
    padding: 0;
    margin: 0;
  }
  
  .section-news .region-sidebar-second .block ul li {
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    border-bottom: 1px dashed #A29061;
    margin-bottom: 5px;
    padding: 5px 0;
  }
  
  .section-news .region-sidebar-second .block ul li.views-row-last {
    border-bottom: 0px;
  }
  
  .section-news .region-sidebar-second #block-views-news-block_2.block {
    margin-bottom: 25px;
  }
  
  
/** Events Page **/

  .page-events #content .view-events .views-row {
    float: left;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
    padding: 0 0 5px;
  }
  
  .page-events #content .view-events .views-row-last {
    border-bottom: none;
  }
  
  .page-events #content .view-events .views-row .event-information {
    width: 100%;
    float: left;
  }
  
  .page-events #content .view-events .views-row label {
    font-weight: bold;
  }
  
  
/** Events Section - upcoming events block **/

  .section-events #block-views-events-block_2 .view-events .item-list ul li {
    border-bottom: 1px dashed #A29061;
    list-style: none outside none;
    margin-bottom: 5px;
    padding: 5px 0;
  }
  
  
  
/** Upcoming Board of Ed Meetings Block **/
  
  .page-board-education-meetings .region-content-top #block-views-board_meetings-block_1 {
    padding: 10px 0 5px;
  }
  
  .page-board-education-meetings .region-content-top #block-views-board_meetings-block_1 .view-board-meetings .view-content .views-row {
    padding: 3px 0;
  }
  
/** Minutes & Agendas listings **/

  .section-board-education #content-area .view-board-meetings-docs .view-content h3 {
    margin-bottom: 3px;
    margin-top: 7px;
  }
  
  .section-board-education #content-area .view-board-meetings .view-content h3 {
    margin-bottom: 3px;
    margin-top: 7px;
  }
  
  .section-board-education #content-area .view-board-meetings .views-row {
    margin-bottom: 15px;
  }
 
  
/** Board of Education **/

.section-board-education .view-id-board .views-row {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}

.section-board-education .view-id-board .views-row-last {
  border: none;
}

.section-board-education .view-id-board .views-row .views-field-field-boardmember-image-fid .field-content img {
  float: right;
}

.section-board-education .view-id-board .views-row .views-field-title {
  font-size: 1.3em;
  margin: 0 0 5px 0;
}

.section-board-education .view-id-board .views-row .views-field-field-boardmember-bio-value {
  margin: 10px 150px 10px 0;;
}

.section-board-education .view-id-board .views-row .views-field-field-boardmember-quote-value {
  margin-right: 150px;
  font-weight: bold;
  font-style: italic;
}

/** Event Node Document attach **/

.view-document-attach .view-content .views-row {
  margin-bottom: 5px;
}

.view-document-attach .view-content .views-row .views-field-delete-node a {
  text-transform: uppercase;
  font-size: 11px;
}

.view-document-attach .view-content .views-row .views-field-edit-node a {
  text-transform: uppercase;
  font-size: 11px;
}

.node-type-event ul.links li.document_field_event_doc {
  padding: 0;
}

.node-type-event ul.links li.document_field_event_doc a {
  padding: 7px 10px 5px;
  background-color: #57A6E0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 11px;
  border: 1px solid #cccccc;
}

.node-type-event #content-area .node .content {
  margin-bottom: 20px;
}


/** Edit Documents **/

.view-documents .item-list .views-field-edit-node a {
  text-transform: uppercase;
  font-size: 11px;
}


.view-documents .item-list ul li {
  margin-bottom: 3px;
}


.view-fccsdo-document .item-list .views-field-edit-node a {
  text-transform: uppercase;
  font-size: 11px;
}

.view-fccsdo-document .item-list ul li {
  margin-bottom: 3px;
}



/** Create Content list on Navigation **/
#block-user-1.block ul.menu li.expanded ul {
  padding-left: 1em;
}

#block-user-1.block ul.menu li.expanded ul li.leaf {
  list-style: circle;
}


/** Ed Services Page **/

.page-departments-educational-services .content img.dep-superintendent {
  float: left;
  margin: 0 10px 0 0;
}

.page-department-educational-services .node .content {
  padding-right: 10px;
}


/** Eye on Education **/

.page-superintendent-eye-on-education .view-header {
  margin-bottom: 20px;
}

.page-superintendent-eye-on-education .view-content {
  margin: 5px 0;
}

.page-superintendent-eye-on-education .view-content .views-field-title {
  font-size: 1.2em;
}

.page-superintendent-eye-on-education .view-content .views-field-created {
  font-size: .8em;
}

.page-superintendent-eye-on-education .view-content .views-field-field-media-file-fid {
  margin: 10px 0;
}

.page-superintendent-eye-on-education .attachment-after {
  margin-top: 25px;
  border-top: 1px solid #e3e3e3;
}

.page-superintendent-eye-on-education .attachment-after .view-header {
  margin-bottom: 5px;
}

.page-superintendent-eye-on-education .attachment-after .view-header h3 {
  margin: 0;
}

.page-superintendent-eye-on-education .attachment-after .view-content .item-list ul {
  padding: 0;
}

.page-superintendent-eye-on-education .attachment-after .view-content .item-list ul li {
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 7px;
}

  .page-superintendent-eye-on-education .attachment-after .view-content .item-list ul li .views-field-title {
  font-size: inherit;
  }


/** Photo Galleries **/

.view-id-gallery .view-content .item-list ul li {
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  float: left;
}

.view-id-gallery .view-content .item-list ul {
  margin: 0;
  padding: 0;
}

.view-id-gallery .view-content .item-list ul li img {
  padding: 2px;
  border: 1px solid #cccccc;
  margin-right: 15px;
}
/*
.view-id-gallery .view-content .item-list ul li.views-row-4 img, .view-id-gallery .view-content .item-list ul li.views-row-8 img, .view-id-gallery .view-content .item-list ul li.views-row-12 img, .view-id-gallery .view-content .item-list ul li.views-row-16 img {
  margin-right: 0;
}
*/


/** Gold Buying Event Promo Page **/

  .page-2nd-annual-fresno-coin-gallery-gold-buying-event .content img {
    float: left;
    margin-right: 20px;
  }
  
  
  
/** Department Menu Overides **/

  .region-sidebar-second .block-menu {
    margin-bottom: 2px;
    padding-bottom: 0;
  }
 
/** Credentials Resources Page **/
  .page-departments-credentials-credentials-resources #content-area .content table {
    width: 400px;
  }
  
  .page-departments-credentials-credentials-resources #content-area .content table td.first {
    width: 300px;
  }
  
/** Board of Education - Policies **/
  .section-board-education #content-area .view-board-policies table.views-table {
    width: 100%;
  }
  
  .section-board-education #content-area .view-board-policies table.views-table td {
    font-size: 11px;
  }
  
  .section-board-education #content-area .view-board-policies table.views-table td.views-field {
    width: 60px;
    text-align: center;
  }
  
  .section-board-education #content-area .view-board-policies table.views-table td.views-field-name {
    width: 90px;
    text-align: left;
  }
  
  .section-board-education #content-area .view-board-policies table.views-table td.views-field-title {
    width: 350px;
    text-align: left;
  }
  

/** Superintendent's Governance Council Meetings page **/
  .page-superintendent-governance-council #content-area .view-events .view-content .item-list ul {
    margin: 0;
    padding: 0;
  }
  
  .page-superintendent-governance-council #content-area .view-events .view-content .item-list ul li {
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0 0 15px;
  }
  
  .page-superintendent-governance-council #content-area .view-events .view-content .item-list ul li .views-field-field-event-time-value {
    font-weight: bold;
  }

/** Districts - SARC Document Views attach **/
  .section-districts .node .content .field-field-district-sarc {
    margin-top: 20px;
  }

/** Charter School Application Process **/
  .page-charter-school-application-process #content-area .content h2 {
    clear: left;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  
  .page-charter-school-application-process #content-area .content div#charter-committee {
    float: left;
    width: 600px;
    margin-bottom: 30px;
  }
  
  .page-charter-school-application-process #content-area .content dl {
    float: left;
    width: 300px;
  }
  
  .page-charter-school-application-process #content-area .content dl dt {
    font-weight: bold;
  }
  
  
/** Webform Component Forms Styling **/
  #content-area form#webform-components-form table {
    width: 100%;
  }

/** FCCSDO Page **/

  .page-departments-fccsdo td.views-field-field-document-file-fid {
    width: 200px;
  }
  
  .page-departments-fccsdo .region-content-bottom {
    border-top: 1px solid #cccccc;
    margin-top: 20px;
    padding-top: 20px;
  }
  
  .page-departments-fccsdo .view-fccsdo-document .views-row-last {
    margin-bottom: 12px;
  }
  
/** District Financial Services **/
  .page-departments-district-financial-services-workshops #content-area table, .page-departments-district-financial-services-cbo-meetings table {
    width: 100%;
  }
  
  .page-departments-district-financial-services-workshops #content-area table th, .page-departments-district-financial-services-workshops #content-area table td {
    font-size: 11px;
  }
  
  
  
/** Workshop Listings **/
  .view-id-workshops .views-row {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
    padding: 5px 0;
  }
  
  .view-id-workshops .views-row .views-field-title {
    font-weight: 700;
  }


  
/** My Content Page **/

  .logged-in.page-user-my-content #content-area .view-content table {
    width: 100%;
  }

  
  /** Multisite Search Box **/

  #block-multisite_search-0 {
    float: right;
    width: 250px;  
  }
  
  #block-multisite_search-0 .content {
    padding-top: 7px;  
  }

   #block-multisite_search-0 .content #edit-multisite-search-block-form-keys.form-text {
    width: 150px;
  }
  
/** Search Results **/
  .search-results dd {
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ccc;
    width: 620px;
  }
  
  
/** CalPASS Video Page **/

  #block-views-calpass_videos-block_1 {
   margin: 20px 0 0;
 }
 
/** Attached Media Files **/
  .field-field-media-assoc-file {
    margin-top: 10px;
  }


/** Inline Image Alignment **/
  .image-right {
    float: right;
    margin: 0 0px 5px 10px;
    padding: 2px;
    border: 1px solid #cccccc;
  }
  
  .image-left {
    float: left;
    margin: 0 10px 5px 0;
    padding: 2px;
    border: 1px solid #cccccc;
  }



